

@keyframes marquee {
	0% {
	  	transform: translateX(0);
	}
	100% {
	  	transform: translateX(-100%);
	}
}

.process-block{
	overflow: hidden;
	background: #F8F8F8;
	.marquee3k{
		background: #F6F100;
	    transform: translate(-20px,0) rotate(-5deg);
	    -webkit-transform: translate(-20px,0) rotate(-5deg);
	    margin-top: 110px;
		margin-bottom: 124px;
		padding: 14px 0 0;
		position: relative;
		width: 110%;
		transition: background $slow-duration-half $ease-in-out;
		cursor: pointer;
    	.marquee3k__wrapper {
        	display: flex;
	        .marquee3k-wrapper {
	        	&.marquee3k__copy{
	        		display: inline-block;
        		    white-space: nowrap;
        		    animation: marquee 10s linear infinite;
					.marquee-text{
						font-family: 'Myriad-Pro-Bold';
						font-weight: bold;
						font-size: 80px;
						line-height: 96px;
						text-transform: uppercase;
						color: #D2277C;
						@media(max-width: 991px){
							font-size: 24px;
							line-height: 29px;
						}
					}
				}
			}
		}
		&:hover{
			background: #E8E400;
		}
		&:active{
			background: #D6D300;
		}
		@media(max-width: 991px){
			margin-bottom: 40px;
			margin-top: 40px;
		    padding: 14px 0 6px;
		}
	}
	@media(max-width: 991px){
		background: #FFF;
	}
}
