.project-list, .alm-reveal{
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
    .project-item{
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
        width: 100%;
        padding-right: 16px;
        padding-left: 16px;
        position: relative;
        margin-bottom: 74px;
        text-align: left;

        @media only screen and (max-width: 768px){
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 48px;
        }
    
        .project-image{
            overflow: hidden !important;
            position: relative !important;
            height: 254px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform $normal-duration-2 $ease-out !important;
            }
            .overlay{
                height: 100%;
                width: 100%;
                background-color: black;
                position: absolute;
                top: 0;
                opacity: 0%;
                transition: opacity $normal-duration-2 $ease-out;
            }
        }
        .project-title{
            margin-top: 24px;
            margin-bottom: 12px;
            font-style: normal;
            font-family: 'Myriad-Pro-Bold';
            font-size: 32px;
            line-height: 38px;
            text-decoration: none !important;
            color: #000000;
    
            a{
                text-decoration: none !important;
                color: #000000;
                outline: none !important;
            }
            @media(max-width: 991px){
                font-size: 24px;
                line-height: 29px;
            }
        }
        .project-description{
            font-family: 'Myriad-Pro-Regular';
            a:nth-child(1){
    
                text-decoration: none;
                color: black !important;
                outline: none !important;
    
                &:hover{
                    text-decoration: none;
                    color: black !important;
                }
            }
            p{
                display: flex;
                flex-direction: column;
                margin-bottom: 0;
                align-items: flex-start;
    
                a{
    
                    text-decoration: none;
                    color: black !important;
    
                    &:hover{
                        text-decoration: none;
                        color: black !important;
                    }
                }
    
                @media(max-width: 991px){
                    font-size: 16px;
                    line-height: 26px;
                }
            }
           a.read-more-link{
                margin-top:19px;
                font-weight: bold;
                font-size: 16px;
                line-height: 19px;
                width: auto;
                padding: 3px 0px 5px;

                span{
                    color: #000000;
                    border-bottom-width: 2px;
                    transition: color $fast-duration $ease-out, border $fast-duration $ease-out;
                }

            }
        }

        &:hover >.project-image img{
            transform: scale(1.05);
        }
        &:hover >.project-image .overlay{
            opacity: 10%;
        }
        
        &:active >.project-image img{
            transform: scale(1.07);
        }
        &:active >.project-image .overlay{
            opacity: 10%;
        }
        &:hover >.read-more-link{
            color: $pink !important;
        }
        &:hover > .project-description a.read-more-link{
            span{
                border-bottom-color: $pink;
                color:$pink !important;
            }
        }
        &:active > .project-description a.read-more-link{
            span{
                color:$pink-pressed !important;
                border-bottom-color: $pink-pressed;
            }
        }
        &:focus-visible > .project-description a.read-more-link{
            span{
                color:#000000;
                border-bottom-color: #000000;
            }
        }
    }
}
/*votes*/

.project-votes{
    position: absolute;
    top: 19px;
    right: 40px;
    background-color: white;
    width: auto !important;
    padding: 7px 14px;
    border-radius: 60px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.08em;
    font-family: 'Myriad-Pro-Bold';
    cursor: pointer;
    
    @media only screen and (max-width: 768px){
        top: 9px;
        right: 25px;
    }
    
    &:hover .heart{
        color: $pink-hover;
        transition: color $normal-duration-2 $ease-out;
    }
    &:active .heart{
        color: $pink-pressed;
        transition: color $normal-duration-2 $ease-out;
    }
    .heart{
        color: $pink;
        margin-left: 2px;

    }
}

/*tooltip*/

.tooltip:before {
    content: attr(data-content);
    display: block;
    background-color:$pink;
    border-radius: 3px;
    padding:10px;
    color: white;
    font-size: 12px;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Myriad-Pro-Regular';
    letter-spacing: normal;
  }
.tooltip:after {
    content: '';
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid $pink;
    width: 0;
    height: 0;
    display: block;
    margin-top: 36.5px;
    margin-left: 35px;
  }
  .tooltip:before,
  .tooltip:after {
    top: -50px;
    left: -10px;
    position: absolute;
    opacity: 0;
    transition: opacity 200ms linear;
}

.project-votes:hover.tooltip:before,
.project-votes:hover.tooltip:after {
    opacity: 1;
  }

/* heart animation */

.project-votes{

    &:hover .heart1{
        background-position: right;
    }

	.heart1{
		margin: 0 auto;
		background: url('https://frautiroler.svr.fm/wp-content/uploads/2021/08/heart-sequence.png');
		width: 60px;
		height: 60px;
		background-repeat: no-repeat;
		position: absolute;
		top: -8px;
		left: 19px;
	}
	.animated-heart {
		animation-name: moveHeart;
		animation-duration: .8s;
		animation-iteration-count: 1;
		animation-timing-function: steps(28);
		animation-fill-mode: forwards;
	  }
	  @keyframes moveHeart {
		0% { background-position: left; }
		50% { background-position: right; }
		100% { background-position: right; }
	}
	.click-heart {
		cursor: pointer;
	  }
}


/* heart button size */
.wpulike-robeen .wp_ulike_btn:after{
    transform: translateX(-50%) translateY(-50%) scale(0.6) !important;
    background: url('https://frautiroler.svr.fm/wp-content/uploads/2021/08/heart-sequence.png') no-repeat;
}
.wpulike-robeen .wp_ulike_btn{
    &:focus-visible{
        outline: none !important;
    }
}

/* heart beat animation */
.wpulike-robeen .wp_ulike_btn{
    animation: 2.5s ease 0s normal none infinite running animateHeart;

    &:hover:after{
        background-position: right !important;
    }
}
/* keyframes */

@keyframes animateHeart {
    0% {transform: scale(1); } 
    5% {transform: scale(1.2); } 
    10% {transform: scale(1.1); } 
    15% {transform: scale(1.3); } 
    50% {transform: scale(1); } 
    100% {transform: scale(1); } 
}