
.footer{
	&-widgets{
	    padding: 36px 0;
	    border-top:0;
	    @media(max-width: 991px){
	    	padding: 40px 0;
	    }
	}
	&-sidebar{
		width: 100%;
		text-align: center;
		&.footer-1{
			text-align: left;
			@media(max-width: 991px){
				text-align: center;
				order: 1;
			}
		}
		&.footer-2{
			text-align: right;
			@media(max-width: 991px){
				text-align: center;
				order: 3;
			}
		}
		&.footer-3{
			order: 2;
		}
	}
	&-wrapper{
	    padding: 0 15px;
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
		.widget-wrap{
			h2{
				font-family: 'Myriad-Pro-Bold';
				font-weight: bold;
				font-size: 32px;
				line-height: 32px;
				color: #008D36;
			    margin-bottom: 0;
			    @media(max-width: 991px){
					font-size: 24px;
					line-height: 24px;
					margin-bottom: 36px;
			    }
			}
			.menu{
			    margin-bottom: 26px;
				&-item{
					border-top: 1px solid #E6E6E6;
					margin-bottom: 0;
					padding: 17px 0 14px;
					line-height: 0;
					position: relative;
					a{
						font-weight: normal;
						font-family: 'Myriad-Pro-Regular';
						font-size: 14px;
						line-height: 17px;
						color: #000000;
						text-align: center;
						text-decoration: none;
					}
					&:last-child{
						border-bottom: 1px solid #E6E6E6;
					}
				}
			}
			.wp-block-image{
				margin-bottom: 0;
				img{
					width: 285px;
					height: 100%;
					object-fit: contain;
					@media(max-width: 991px){
						width: 220px;
					}
				}
			}
		}
		@media(max-width: 991px){
			flex-direction: column;
			padding: 0;
		}
	}
	&-text-section{
		background: #008D36;
		.widget_nav_menu{
			margin-bottom: 0;
		}
		.menu{
			display: flex;
			padding: 31px 0px 26px;
			font-family: 'Myriad-Pro-Regular';
			&-item{
				margin: 0px 24px 0 0;
			    line-height: 0;
			    position: relative;
				a{
					font-weight: normal;
					font-family: 'Myriad-Pro-Regular';
					font-size: 14px;
					line-height: 17px;
					color: #FFFFFF;
					flex: none;
					order: 0;
					flex-grow: 0;
				    text-decoration: none;
				}
				&:before{
					transition: all 250ms $ease-out;
					content: '';
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 1px;
					margin: auto;
					pointer-events: none;
    				background: 0 0;
				}
				&:after{
					content: '';
					transition: transform 250ms $ease-out;
					background-color: #FFFFFF;
					transform: scaleX(0);
					transform-origin: right center;
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 1px;
					margin: auto;
					pointer-events: none;
				}
				&:hover{
					&:after {
					    transform: scaleX(1);
					    transform-origin: left center;
				    }
				}
			}
		}
	}
}