
.footer{
	background: #F8F8F8;
	&-widgets{
	    padding: 36px 0;
	    border-top:0;
	    background: #F8F8F8;
	    @media(max-width: 991px){
	    	padding: 40px 0;
	    	background: #FFF;
	    }
	}
	&-sidebar{
		width: 100%;
		text-align: center;
		&.footer-1{
			text-align: left;
			@media(max-width: 991px){
				text-align: center;
				order: 1;
			}
		}
		&.footer-2{
			text-align: right;
			@media(max-width: 991px){
				text-align: center;
				order: 3;
			}
		}
		&.footer-3{
			order: 2;
		}
	}
	&-wrapper{
	    padding: 0 15px;
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
		.widget-wrap{
			h2{
				font-family: 'Myriad-Pro-Bold';
				font-weight: bold;
				font-size: 32px;
				line-height: 32px;
				color: #008D36;
			    margin-bottom: 0;
			    &:after{
			    	display: none;
			    }
			    @media(max-width: 991px){
					font-size: 24px;
					line-height: 24px;
					margin-bottom: 36px;
			    }
			}
			.menu{
			    margin-bottom: 26px;
				&-item{
					border-top: 1px solid #E6E6E6;
					margin-bottom: 0;
					padding: 17px 0 14px;
					line-height: 0;
					position: relative;
					a{
						font-weight: normal;
						font-family: 'Myriad-Pro-Regular';
						font-size: 14px;
						line-height: 17px;
						color: #000000;
						text-align: center;
						text-decoration: none;
						&:focus{
						    outline: 0;
						}
					}
					&:last-child{
						border-bottom: 1px solid #E6E6E6;
					}
				}
			}
			.wp-block-image{
				margin-bottom: 0;
				a{
					&:focus{
						outline: 0;
					}
				}
				img{
					width: 285px;
					height: 100%;
					object-fit: contain;
					&:focus{
						outline: 0;
					}
					@media(max-width: 991px){
						width: 220px;
					}
				}
			}
		}
		@media(max-width: 991px){
			flex-direction: column;
			padding: 0;
		}
	}
	&-text-section{
		background: #008D36;
		.widget_nav_menu{
			margin-bottom: 0;
		}
		.menu{
			display: flex;
			padding: 31px 0px 26px;
			font-family: 'Myriad-Pro-Regular';
			&-item{
				margin: 0px 24px 0 0;
			    line-height: 0;
			    position: relative;
				a{
					font-weight: normal;
					font-family: 'Myriad-Pro-Regular';
					font-size: 14px;
					line-height: 17px;
					color: #FFFFFF;
					flex: none;
					order: 0;
					flex-grow: 0;
				    text-decoration: none;
				    transition: all $ease-out $fast-duration;
    				&:hover{
						opacity: 0.7;
					}
					&:active{
						opacity: 0.6;
					}
					&:focus{
						outline: 0;
					}
					&:focus-visible{
						outline: 0;
						&:before{
							content: '';
						    color: #DDDDDD;
						    border: 1px solid;
						    width: calc(100% + 10px);
						    height: 23px;
						    position: absolute;
						    top: -4px;
						    left: -5px;
						    right: 0;
						    padding: 6px 8px;
						    border-radius: 4px;
						}
					}
				}
			}
		}
	}
	@media(max-width: 991px){
		background: #FFF;
		padding-bottom: 40px;
	}
	.footer-wrapper .widget-wrap .menu-item a{
		@media(max-width: 768px){
			border: 1px solid transparent;
			border-radius: 4px;
			padding: 2px 3px;
			outline: none !important;
			transition: opacity 250ms $ease-out, border 250ms $ease-out;
			&:hover{
				opacity: 0.7;
			}
			&:active{
				opacity: 0.6;
			}
			&:focus-visible{
				border: 1px solid #919191;
				border-radius: 4px;
			}
		}
	}
}