.form-block{
	margin-top: 78px;
    margin-bottom: 150px;
	&--text{ 
		margin-bottom: 32px; 
		position:relative;
		label{
			font-weight: normal;
			font-size: 20px;
			line-height: 26px;
			color: #000000;
			margin-bottom: 4px;
			&.error{
				position: absolute;
				right: 0;
				top: 8px;
				font-size: 14px;
				line-height: 17px;
				text-align: right;
				color: #CD1619;
			}
			&.upload{
				margin-bottom: 10px;
    			display: block;
			}
			@media(max-width: 991px){
				font-size: 16px;
				line-height: 26px;
			}
		}
		input{
			background: #FFFFFF;
			border: 2px solid #DDDDDD;
			box-sizing: border-box;
			border-radius: 8px;
			min-height: 100px;
			&.dashed{
				border: 2px dashed #DDDDDD;
				min-height: 120px;
			}
			&.error{
				border-color: #CD1619;
			}
			@media(max-width: 991px){
				min-height: 84px;
			}
		}
		textarea{
			background: #FFFFFF;
			border: 2px solid #DDDDDD;
			box-sizing: border-box;
			border-radius: 8px;
			&.error{
				border-color: #CD1619;
			}
		}
		.note{
			font-size: 20px;
			line-height: 26px;
			color: #919191;
			flex: none;
			order: 2;
			flex-grow: 0;
			margin: 11px 0px;
			@media(max-width: 991px){
				font-size: 14px;
				line-height: 17px;
			}
		}
	}
	.info{
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		color: #000000;
		flex: none;
		order: 1;
		flex-grow: 0;
		margin: 20px 10px 0 0;
	}
	.required-feilds{
		margin-top: 80px;
		margin-bottom: 80px;
		font-weight: 400;
		font-size: 18px;
		line-height: 26px;
		color: #000000;
	}
	.checkbox{
		position: relative;
	    margin-top: 80px;
		label{
			position: relative;
			cursor: pointer;
			transition: all ease-out 250ms;
			outline: 0;
			display: block;
			margin-bottom: 8px;
			font-size: 14px;
			line-height: 17px;
			color: black;
			position: relative;
		    padding-left: 40px;
	        margin: 23px 0;
			&.error{
				position: absolute;
				top: -24px;
				left: 0;
				font-size: 14px;
				line-height: 26px;
				color: #CD1619;
			}
			&:before {
				content:'';
				-webkit-appearance: none;
				background-color: transparent;
				border: 2px solid #DDDDDD;
			    border-radius: 8px;
			    padding: 13px;
				display: inline-block;
				position: relative;
				vertical-align: middle;
				cursor: pointer;
				margin-right: 8px;
				position: absolute;
				left: 0;
			}
			&:hover{
				&:before{
					border-color: #B5226B;
				}
			}
			&:active{
				&:before{
					border-color: #8C1A53
				}
			}
		}
		input {
			padding: 0;
			height: initial;
			width: initial;
			margin-bottom: 0;
			display: none;
			cursor: pointer;
			&:checked + label:after {
				content: '';
				display: block;
				position: absolute;
				top: 8px;
				left: 12px;
				width: 6px;
				height: 14px;
				border: solid #FFFFFF;
				border-width: 0 2px 2px 0;
				transform: rotate(45deg);
			}
			&:checked + label:before{
				background-color: #D2277C;
				border: 2px solid #D2277C;
				box-sizing: border-box;
				border-radius: 8px;
			}
			&:hover{
				&:checked + label:before{
					background: #B5226B;
					border-color: #B5226B;
				}
			}
			&:active{
				&:checked + label:before{
					background: #8C1A53;
					border-color: #8C1A53;
				}
			}
		}
	}
}


