
body{
	-webkit-font-smoothing:antialiased; 
	background-color: #FFF;
}
html{
	overflow-x: hidden;
}
@font-face {
	font-family: 'Myriad-Pro-Regular';
	src: url('../fonts/Myriad-Pro-Regular.eot');
	src: local('☺'), url('../fonts/Myriad-Pro-Regular.woff') format('woff'), url('../fonts/Myriad-Pro-Regular.ttf') format('truetype'), url('../fonts/Myriad-Pro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display:swap;
}
@font-face {
	font-family: 'Myriad-Pro-Bold';
	src: url('../fonts/Myriad-Pro-Bold.eot');
	src: local('☺'), url('../fonts/Myriad-Pro-Bold.woff') format('woff'), url('../fonts/Myriad-Pro-Bold.ttf') format('truetype'), url('../fonts/Myriad-Pro-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display:swap;
}
@font-face {
	font-family: 'Univers LT';
	src: url('../fonts/Univers-LT-55-Roman.eot');
	src: local('☺'), url('../fonts/Univers-LT-55-Roman.woff') format('woff'), url('../fonts/Univers-LT-55-Roman.ttf') format('truetype'), url('../fonts/Univers-LT-55-Roman.svg') format('svg');
	font-style: normal;
    font-weight: normal;
	font-display:swap;
}
*{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.d-none{
	display: none;
}
.d-md{
	display: block;
	@media(max-width: 991px){
		display: none;
	}
}
.d-sm{
	display: block;
	@media(min-width: 992px){
		display: none;
	}
}
.position-relative{
	position: relative;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    @media (min-width: 768px){
	    max-width: 720px;
	}
    @media (min-width: 992px){
	    max-width: 960px;
    }
    @media (min-width: 1200px){
    	max-width: 1140px;
    }
    @media (min-width: 1500px){
    	max-width: 1340px;
    }
}
.content{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    @media (min-width: 768px){
	    max-width: 720px;
	}
    @media (min-width: 992px){
	    max-width: 960px;
        padding-right: 65px;
    	padding-left: 65px;
    }
    @media (min-width: 1200px){
    	max-width: 1140px;
	    padding-right: 65px;
    	padding-left: 65px;
    }
    @media (min-width: 1500px){
    	max-width: 1340px;
	    padding-right: 65px;
    	padding-left: 65px;
    }
}
.w-960{
	max-width: 960px;
	@media (max-width: 991px){
		max-width: 100%;
	}
}
.head-block{
	margin-top: 60px;
}
.hidden {
	display: none;
}

.overflow-hidden{
    overflow: hidden;
    height: 100vh;
}

.section-title{
	font-size: 60px;
	line-height: 70px;
	color: #000000;
    margin-bottom: 8px;
    @media(max-width: 991px){
		font-size: 32px;
		line-height: 40px;
    }
}
.underline{
	position: relative;
    &:after{
    	content: '';
    	background-image: url('../../../../uploads/2021/07/underline.png');
	    background-size: cover;
	    background-repeat: no-repeat;
	    width: 263px;
	    height: 12px;
	    position: absolute;
	    right: -30px;
	    bottom: -3px;
	    @media(max-width: 991px){
			background-size: contain;
			background-repeat: no-repeat;
			width: 94%;
			height: 12px;
			position: absolute;
			right: -8px;
			bottom: -8px;
	    }
    }
}

.section-subtitle{
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	color: #000000;
	@media(max-width: 991px){
		font-size: 16px;
		line-height: 26px
	}
}

p{
	font-family: 'Myriad-Pro-Regular';
	font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 0;
}

h1, h2, h3, h4, h5{
	font-family: 'Myriad-Pro-Regular';
}
h2{
	font-size: 60px;
	line-height: 72px;
	color: #000000;
	margin-bottom: 14px;
	position: relative;
	@media(max-width: 991px){
		font-size: 32px;
		line-height: 40px;
	}
}

.default-link{
	color:#000000;
	text-decoration: none !important;
	outline: none !important;
	border:1px solid transparent;

	span{
		outline: none !important;
		border-bottom: 1px solid #000000;
	}

	&:hover span{
		transition: color $fast-duration $ease-out, border-color $fast-duration $ease-out;
		border-color: $pink;
		color: $pink;
	}
	&:active span{
		transition: color $fast-duration $ease-out, border-color $fast-duration $ease-out;
		border-color: $pink-pressed;
		color: $pink-pressed;
	}
	&:focus-visible{
		border:1px solid #919191;
		border-radius: 4px;
		padding: 3px;
	}
}
.scroll-reveal{
	opacity: 0;
	transform: translateY(20px);
	-webkit-transform: translateY(20px);
	&.moveup{
		opacity: 1;
		transform: translateY(0);
	    -webkit-transform: translateY(0);
		transition: opacity $slow-duration ease-out, transform $slow-duration ease-out;
		-webkit-transition: opacity $slow-duration ease-out, transform $slow-duration ease-out;
	}
}
.scroll-trigger{
	opacity: 0;
	transform: translateY(20px);
	-webkit-transform: translateY(20px);
	&.moveupcol{
		opacity: 1;
		transform: translateY(0);
	    -webkit-transform: translateY(0);
		transition: opacity $slow-duration ease-out, transform $slow-duration ease-out;
		-webkit-transition: opacity $slow-duration ease-out, transform $slow-duration ease-out;
	}
}