
.home{
	position: relative;
	.site-container--overlay{
		background-color: $pink;
		min-height:500px;
		-webkit-transition: background-color $slow-duration $ease-in-out;
		-moz-transition: background-color $slow-duration $ease-in-out;
		-o-transition: background-color $slow-duration $ease-in-out;
		transition: background-color $slow-duration $ease-in-out;
		width: 100%;
		min-height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: calc(100% + 150px);
	    min-height: 1440px;
		position: absolute;
		top: -100px;
		left: 0;
		right: 0;
		transform: translate(-20px, 0) rotate(-5deg);
		-webkit-transform: translate(-70px, 0) rotate(-5deg);
		@media(max-width: 991px){
			min-height: 980px;
			width: calc(100% + 110px);
		}
	}
	.content-sidebar-wrap{
		@media(max-width: 991px){
			padding: 0 30px;
		}
	}
	.site-header{
	    min-height: 100%;
	    background-color: transparent;
	    box-shadow: none;
		&--overlay{
			display: none;
		}
	}
	.rounded-btn{
		.wp-block-button__link{
			font-size: 20px !important;
			font-family: 'Myriad-Pro-Regular' !important;
			font-weight: bold !important;
			line-height: 17px !important;
			color: #FFFFFF !important;
			position: relative;
			&:hover{
				transition: background-color $fast-duration $ease-out;
				background-color: $pink-hover;
				box-shadow: none !important;
			}
			&:active{
				transition: background-color $fast-duration $ease-out;
				background-color: $pink-pressed;
			}
			&:focus{
				outline: 0;
				box-shadow: none !important;
			}
			&:focus-visible{
				outline: 0;
				transition: all $fast-duration $ease-out;
				&:before{
				    content: '';
				    color: #919191;
				    border: 1px solid;
				    width: calc(100% + 6px);
				    height: 100%;
				    position: absolute;
				    top: -3px;
				    left: -3px;
				    padding: 25px 0;
				    border-radius: 60px;
				}
			}
		}
	}
	.wp-block-group{
		position: relative;
		z-index: 2;
		margin-top: 100px;
		&__inner-container{
			h1{
				font-weight: normal;
				font-size: 60px;
				line-height: 72px;
				color: $yellow;
				transition: color $slow-duration $ease-out;
				width: 100%;
				max-width: 900px;
				margin-bottom: 30px;
				@media(max-width: 991px){
					font-size: 24px;
					line-height: 29px;
					max-width: 100%;
					margin-bottom: 15px;
				}
			}
			.wp-block-buttons{
				margin-bottom: 40px;
				.wp-block-button{
					&__link{
						font-weight: bold;
						font-family: 'Myriad-Pro-Bold' !important;
						font-size: 32px;
						line-height: 38px;
						color: $yellow;
						background: transparent;
						padding: 0 !important;
						position: relative;
						transition: color $slow-duration $ease-out;
						&:after{
							content: '';
							background-color: $yellow;
							transition: background-color $slow-duration $ease-out;
							width: 100%;
							height: 4px;
							position: absolute;
							left: 0;
							right: 0;
							bottom: 0;
							@media(max-width: 991px){
								height: 2px;
							}
						}
						@media(max-width: 991px){
							font-size: 16px;
							line-height: 19px;
						}
						&:hover{
							box-shadow: none;
						}
					}
				}
				margin-bottom: 20px;
			}
			.wp-block-gallery{
				.blocks-gallery{
					&-item{
						img{
					    	height: 399px;
					    	object-fit: contain;
					    	@media(max-width: 991px){
				    		    height: 100%;
					    	}
						}
						&:first-child{
							display: block;
							transition: display 6s $ease-in-out;
						}
						&:nth-child(2){
							display: none;
						}
						&:nth-child(3){
							display: none;
						}
					}
				}
				&.desktop-gallery{
					display: block;
					@media(max-width: 991px){
						display: none;
					}
				}
				&.mobile-gallery{
					display: block;
					@media(min-width: 992px){
						display: none;
					}
				}
			}
			p{
				font-weight: normal;
				font-family: 'Myriad-Pro-Regular';
				font-size: 23px;
				line-height: 36px;
				color: $yellow;
				transition: color $slow-duration $ease-out;
				width: 100%;
				max-width: 850px;
				margin-bottom: 0;
				@media(max-width: 991px){
					font-size: 16px;
					line-height: 26px;
					max-width: 100%;
				}
			}
		}
		&.has-background{
		   
		    padding-left: 15px;
		    padding-right: 15px;
		    .wp-block-image, .wp-block-columns{
		    	width: 100%;
		    	margin: 0 auto;
				@media (min-width: 768px){
					max-width: 720px;
				}
				@media (min-width: 992px){
					max-width: 960px;
				}
				@media (min-width: 1200px){
					max-width: 1140px;
				}
				@media (min-width: 1500px){
					max-width: 1340px;
				}
		    }
		    .wp-block-columns{
		    	@media(max-width: 991px){
					flex-wrap: nowrap;
					display: grid;
					overflow-x: scroll;
					grid-gap: 16px;
				    padding: 40px 0 0 0;
					grid-auto-flow: column;
					width: 100%;
					display: grid;
					grid-gap: 20px;
					grid-auto-flow: column;
				    grid-auto-columns: calc((100% + 5*100px)/3);
				    margin: 0 auto -70px;
				    &::-webkit-scrollbar {
					    display: none;
					}				
				}
		    }
		    @media(max-width: 991px){
				margin: 0 -14%;
				padding-left: 32px;
				padding-right: 32px;
		    }
		    @media(min-width: 992px){
	    	 	margin: 0 -100% -60px;
		    }
		}
		&.marquee{
			position: relative;
			margin-top: 20px;
			.marquee-text{
				background: #F6F100;
			    transform: translate(-20px, 0) rotate(-5deg);
			    -webkit-transform: translate(-20px, 0) rotate(-5deg);
			    padding: 14px 0 7px;
			    position: absolute;
			    left: -32px;
			    width: calc(100% + 104px);
			    transition: background 300ms cubic-bezier(0.48, 0.04, 0.25, 1);
			    cursor: pointer;
			    margin-top: 0;
				.wp-block-group__inner-container{
					display: flex;
					white-space: nowrap;
					animation: marquee 10s linear infinite;
					p{
						font-weight: bold;
						color: $pink;
						font-size: 80px;
						line-height: 96px;
						display: flex;
						align-items: center;
						text-transform: uppercase;
						white-space: nowrap;
						padding-left: 5px;
						@media(max-width: 991px){
							font-size: 24px;
							line-height: 29px;
							padding-left: 15px;
						}
					}
				}
				@media(min-width: 992px){
					transform: translate(-230px, 0) rotate(-5deg);
                    -webkit-transform: translate(-230px, 0) rotate(-5deg);
					margin: 20px -24% 0 -24%;
				    padding: 20px 0 7px;
				    position: absolute;
					width: calc(100% + 1120px);
				    transition: background 300ms cubic-bezier(0.48, 0.04, 0.25, 1);
				    cursor: pointer;
				    top: 100px;
				    margin-top: 0;
				}
			}
			@media(max-width: 991px){
			    margin-bottom: 90px;
			}
		}
		@media(max-width: 991px){
			margin-top: 40px;
		}
	}
	&.banner-2{
		.site-header{
			.header-menu{ 
				.menu-item{ 
					a{
						color: $red;
						transition: color $slow-duration $ease-out;
					}
					&:last-child{
			    		border: 1px solid transparent;
						a{
						    background: $red;
						    color: $yellow;
						    transition: all $slow-duration $ease-out;
					    }
					}
					&:after{
						background-color: $red;
					}
				}
			}
			.site-navigation {
				&-wrapper{
					.site-logo{
						a {
							.banner-1--logo{
								display: none;
							}
							.banner-2--logo{
								display: block;
							}
						}
					}
				}
				.navbar-right{
					.burger-wrapper{
						.hamburger{ 
							.bar{
    							background: $red;
    							transition: background-color $slow-duration $ease-out;
							}
						}
					}
				}
			}
		}
		.wp-block-group{
			&__inner-container{
				h1{
					color: $red;
					transition: color $slow-duration $ease-out;
				}
				.wp-block-gallery{
					.blocks-gallery{
						&-item{
							&:first-child{
								display: none;
							}
							&:nth-child(2){
								display: block;
								transition: display 6s $ease-in-out;
							}
							&:nth-child(3){
								display: none;
							}
						}
					}
				}
				.wp-block-buttons{
					.wp-block-button{
						&__link{
							color: $red;
							transition: color $slow-duration $ease-out;
							&:after{
								background-color: $red;
								transition: background-color $slow-duration $ease-out;
							}
						}
					}
				}
				p{
					color: $red;
					transition: color $slow-duration $ease-out;
				}
			}
			&.marquee{
				.marquee-text{
					background: $red;
					transition: background $slow-duration $ease-out;
					.wp-block-group__inner-container{
						p{
							color: $yellow;
							transition: color $slow-duration $ease-out;
						}
					}
				}
				@media(max-width: 991px){
				    margin-bottom: 90px;
				}
			}
		}
	}
	&.banner-3{
		.site-header{
			.header-menu{ 
				.menu-item{ 
					a{
						color: $off-white;
						transition: color $slow-duration $ease-out;
					}
					&:last-child{
		    			border: 1px solid transparent;
						a{
						    background: $off-white;
						    color: $green;
						    transition: all $slow-duration $ease-out;
					    }
					}
					&:after{
						background-color: $off-white;
					}
				}
			}
			.site-navigation {
				&-wrapper{
					.site-logo{
						a {
							.banner-1--logo{
								display: none;
							}
							.banner-3--logo{
								display: block;
							}
						}
					}
				}
				.navbar-right{
					.burger-wrapper{
						.hamburger{ 
							.bar{
    							background: $off-white;
    							transition: background-color $slow-duration $ease-out;
							}
						}
					}
				}
			}
		}
		.wp-block-group{
			&__inner-container{
				h1{
					color: $off-white;
					transition: color $slow-duration $ease-out;
				}
				.wp-block-buttons{
					.wp-block-button{
						&__link{
							color: $off-white;
							transition: color $slow-duration $ease-out;
							&:after{
								background-color: $off-white;
								transition: background-color $slow-duration $ease-out;
							}
						}
					}
				}
				.wp-block-gallery{
					.blocks-gallery{
						&-item{
							&:first-child{
								display: none;
							}
							&:nth-child(2){
								display: none;
							}
							&:nth-child(3){
								display: block;
								transition: display 6s $ease-in-out;
							}
						}
					}
				}
				p{
					color: $off-white;
					transition: color $slow-duration $ease-out;
				}
			}
			&.marquee{
				.marquee-text{
					background: $off-white;
					transition: background $slow-duration $ease-out;
					.wp-block-group__inner-container{
						p{
							color: $green;
							transition: color $slow-duration $ease-out;
						}
					}
				}
				@media(max-width: 991px){
				    margin-bottom: 90px;
				}
			}
		}
	}
	.wp-block-button{
		&__link{
			padding: 15px 27px 14px !important;
			border-radius: 60px !important;
			font-family: 'Myriad-Pro-Regular' !important;
		}
	}
	.wp-block-image{
		position: relative;
		img{
			@media(max-width: 991px){
			    width: 228px;
			    height: 115px;
			}
		}
		figcaption{
			font-size: 60px;
			line-height: 72px;
			color: #000000;
			margin: 0;
		    position: absolute;
		    top: 100px;
		    left: 50px;
		    @media(max-width: 991px){
				font-size: 32px;
				line-height: 40px;
				top: 50px;
    			left: 28px;
		    }
		}
		&.is-style-default{
			figure.aligncenter{
				position: absolute;
			    bottom: 20px;
				left: 0;
				right: 0;
				text-align: center;
				margin: auto;
				display: block;
				img{
					@media(max-width: 991px){
						height: auto;
						width: 120px;
					}
				}
			}
			@media(max-width: 991px){
			    height: 320px;
			    bottom: 20px;
			}
		}
	}
	h2{
		code{
			position: relative;
		    background: white;
			font-family: 'Myriad-Pro-Regular';
		    &:after{
		    	content: '';
		    	background-image: url('../img/line-underline.png');
			    background-size: cover;
			    background-repeat: no-repeat;
			    width: 275px;
			    height: 12px;
			    position: absolute;
			    left: 0px;
			    bottom: -3px;
			    @media(max-width: 991px){
				    background-size: contain;
				    background-repeat: no-repeat;
				    width: 150px;
				    position: absolute;
				    top: 32px;
				    left: 0px;
				    bottom: -2px;
			    }
		    }
		}	
	}
	.wp-block-columns{
		margin-bottom: 0;
		background: #F8F8F8;
		padding-bottom: 90px;

		.wp-block-column{
			background-color: white;
			padding: 0 30px 30px;
			height: 100%;

			h4{
				font-family: 'Myriad-Pro-Bold';
				font-weight: bold;
				font-size: 40px;
				line-height: 48px;
				color: #000000;
				margin-top: 0px;
				margin-bottom: 24px;
				@media( max-width: 991px){
					font-size: 24px;
					line-height: 29px;
				}
			}
			p{
				font-family: 'Myriad-Pro-Regular';
				font-size: 23px;
				line-height: 36px;
				color: #000000;
				@media(max-width: 991px){
					font-size: 16px;
					line-height: 26px;
				}
			}
			.wp-block-image{
				height: 75px;
				position: relative;
				margin-bottom: 0;
				.alignright{
				    margin-bottom: 0;
				    position: absolute;
				    top: -50px;
				    z-index: 3;
				    right: 0;
					img{
						height: 100px;
						width: auto;
						@media(max-width: 991px){
							height: auto;
							width: 80px;
						}
					}
					@media(max-width: 991px){
						top: -100px;
					}
				}
				
				@media(max-width: 991px){
					height: auto;
				}
			}
			@media(max-width: 991px){
				padding: 60px 30px 30px;
			}
		}

	}
	header{
		&.wp-block-group{
			background: #F8F8F8;

		}
	}
	.wp-block-spacer{
		@media(max-width: 991px){
			height: 64px !important;
		}
	}
}
