.page-id-251, .page-id-263, .page-id-265, .page-id-95{
    .process-block{
        /* Extra small devices (phones, 600px and down) 
        @media only screen and (max-width: 600px) {
            clip-path: polygon(0 43%, 100% 21%, 100% 100%, 0% 100%);
            -webkit-clip-path: polygon(0 43%, 100% 21%, 100% 100%, 0% 100%);
        }*/
    }
    .site-header{
        box-shadow: none !important;
    }
    .content{
        color:#000000;
        width: 100%;
        padding-right: 30px !important;
        padding-left: 30px !important;
     @media screen and (min-width: 992px) {
        padding-right: 15px !important;
        padding-left: 15px !important;
     }
     
     
        margin-right: auto;
        margin-left: auto;
        @media (min-width: 768px){
            max-width: 720px;
        }
        @media (min-width: 992px){
            max-width: 960px;
            padding-right: 60px;
            padding-left: 60px;
        }
        @media (min-width: 1200px){
            max-width: 1140px;
            padding-right: 60px;
            padding-left: 60px;
        }
        @media (min-width: 1500px){
            max-width: 1325px;
            padding-right: 60px;
            padding-left: 60px;
        }

        article{
            width: 60%;
    
            @media only screen and (max-width: 768px){
                width: 100%;
            }
    
            .entry-title{
                @extend h2;
                margin-bottom: 72px !important;
                margin-top: 20px !important;

                @media only screen and (max-width: 768px){
                    margin-bottom: 40px !important;
                    margin-top: 0px !important;
                }
            }
        }

        p, ul{
            @extend p;
            line-height: 32px !important;
            font-size: 18px;
            font-family: 'Myriad-Pro-Regular';
    
            @media only screen and (max-width: 768px){
                font-size: 16px;
            }
        }
        ul{
            padding-left: 20px;
            line-height: 36px !important;
    
            li::marker{
                font-size: 25px;
            }
    
            @media only screen and (max-width: 768px){
                font-size: 16px;
            }
        }
        h4{
            font-family: 'Myriad-Pro-Bold' !important;
            font-size: 32px !important;
            line-height: 38px !important;
            margin-bottom: 24px !important;
            margin-top: 0px !important;
            @media only screen and (max-width: 768px){
                font-size: 24px !important;
                line-height: 29px !important;
                margin: 12px 0px !important;
            }
        }
    
        .wp-block-group__inner-container{
            margin-top:64px;
        }
        .wp-block-group .wp-block-group__inner-container{
            margin-top: 0px !important;
        }
        .wp-block-group{
            margin-top:24px !important;
        }
        .main-block{
            margin-top:64px !important;
            @media only screen and (max-width: 768px){
                margin-top:40px !important;
            }
        }
        .wp-block-spacer{
            height: 28px !important;
        }
    }
}