.single-post{
    header{
        background-color: #F8F8F8 !important;
    }
}

.custom_single_post_page{
    background-color: #F8F8F8;
    padding-bottom: 300px;

    .container{
        background-color: white;
        padding: 100px;
        /* transform: translateY(-150px); */
        .row{
            display: flex;
            
            .post-content-left{
               width: 70%;
               border-right: 1px solid #CCCCCC;
               padding-right: 100px;

               .post-title{
                font-size: 60px;
                line-height: 70px;
               }
               .post-author{
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 0.08em;
                text-transform: uppercase;
                color: #000000;
                opacity: 0.6;
               }
               .post-content{
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 26px;
                margin-top: 32px;
               }
            }
            .post-content-right{
                width: 30%;
                text-align: center;

                .vote-counter{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 100px;
                    line-height: 120px;
                }
                .vote-counter-subtext{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: center;
                    letter-spacing: 0.08em;
                    text-transform: uppercase;
                }
                .custom-button{
                    background: #D2277C;
                    border-radius: 60px;
                    margin-top:35.61px;

                    &::after{
                        content: '\f004';
                        color: white;
                        font-family: 'FontAwesome';
                        font-size: 16px;
                        margin-left: 10px;
                    }
                }
             }
        }
    }
}