.single-post{
    background-color: #F8F8F8 !important;
    header{
        background-color: #F8F8F8 !important;
        background-image: url("../../../../uploads/2021/08/single-page-header-bg.png");
        min-height: 708px;
    }
    .footer-widgets{
        background-color: #F8F8F8 !important;
    }
}

i{
    font-family: 'FontAwesome' !important;
    font-style: normal !important;
    font-size: 16px;
}

.project-votes{
    background-color: white;
    width: max-content;
    padding: 12px 16px;
    border-radius: 60px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.08em;
    font-family: 'Myriad-Pro-Bold';
    cursor: pointer;
    
    &:hover .heart{
        color: $pink-hover;
        transition: color $normal-duration-2 $ease-out;
    }
    &:active .heart{
        color: $pink-pressed;
        transition: color $normal-duration-2 $ease-out;
    }
    .heart{
        color: $pink;
        margin-left: 2px;

    }
}

.tooltip:before {
    content: attr(data-content);
    display: block;
    background-color:$pink;
    border-radius: 3px;
    padding:10px;
    color: white;
    font-size: 12px;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Myriad-Pro-Regular';
    letter-spacing: normal;
  }
.tooltip:after {
    content: '';
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid $pink;
    width: 0;
    height: 0;
    display: block;
    margin-top: 36.5px;
    margin-left: 35px;
  }
  .tooltip:before,
  .tooltip:after {
    top: -50px;
    left: -10px;
    position: absolute;
    opacity: 0;
    transition: opacity 200ms linear;
}

.project-votes:hover.tooltip:before,
.project-votes:hover.tooltip:after {
    opacity: 1;
  }

.custom_single_post_page{
    font-family: 'Myriad-Pro-Regular';
    background-color: #F8F8F8;

    .container{

        .project-details{
            background-color: white;
            padding: 100px;
            display: flex;
            transform: translateY(-500px);

            @media only screen and (max-width: 768px){
                padding: 33px 25px;
                flex-direction: column;
                transform: translateY(-580px);
            }
            
            .post-content-left{
               width: 70%;
               border-right: 1px solid #CCCCCC;
               padding-right: 100px;

               @media only screen and (max-width: 768px){
                padding-right: 0px;
                width: 100%;
                border:none;
                }

                .project-votes{
                    border: 1px solid #000000;
                    margin-bottom: 24px;

                    @media only screen and (min-width: 768px){
                        display: none;
                    }
                }

               .post-title{
                font-size: 60px;
                line-height: 70px;
               }
               .post-author{
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 0.08em;
                text-transform: uppercase;
                color: #000000;
                opacity: 0.6;
               }
               .post-content{
                margin-top: 32px;
               }
            }
            .post-content-right{
                width: 30%;
                text-align: center;

                @media only screen and (max-width: 768px){
                    width: 100%;
                    }

                .votes{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 100px;
                    line-height: 120px;

                    @media only screen and (max-width: 768px){
                        display: none;
                    }
                }
                .votes-subtext{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: center;
                    letter-spacing: 0.08em;
                    text-transform: uppercase;

                    @media only screen and (max-width: 768px){
                        display: none;
                    }
                }
                .custom-button{
                    background: $pink;
                    border-radius: 60px;
                    margin-top:35.61px;

                    &::after{
                        content: '\f004';
                        color: white;
                        font-family: 'FontAwesome';
                        font-size: 16px;
                        margin-left: 10px;
                    }
                }
             }
        }

        .projects{
            margin-top: -400px;
            padding-bottom: 56px;

            @media only screen and (max-width: 768px){
                margin-top: -520px;
                padding-bottom: 30px;
            }

            .project-list{
                margin-top: 56px;
                display: flex;
                justify-content: space-between;

                @media only screen and (max-width: 768px){
                    flex-direction: column;
                    margin-top: 64px;
                }

                .project-item{
                    width: 412px;
                    position: relative;

                    @media only screen and (max-width: 768px){
                        width: 100%;
                        margin-bottom: 30px;
                    }

                    .project-image{
                        overflow: hidden;
                        img{
                            width: auto;
                            height: 254px;
                        }
                        .overlay{
                            height: 254px;
                            width: 100%;
                            background-color: black;
                            position: absolute;
                            top: 0;
                            opacity: 0%;
                        }
                    }
                    .project-title{
                        margin-top: 24px;
                        margin-bottom: 12px;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 32px;
                        line-height: 38px;
                        text-decoration: none !important;
                        color: #000000;

                        a{
                            text-decoration: none !important;
                            color: #000000;
                        }
                    }
                    .project-votes{

                        position: absolute;
                        top: 19px;
                        right: 20px;
                    }
                    .project-description{
                        
                        a:nth-child(1){

                            text-decoration: none;
                            color: black !important;

                            &:hover{
                                text-decoration: none;
                                color: black !important;
                            }
                        }
                        p{
                            display: flex;
                            flex-direction: column;

                            a:nth-child(1){

                                text-decoration: none;
                                color: black !important;

                                &:hover{
                                    text-decoration: none;
                                    color: black !important;
                                }
                            }

                            a:nth-child(2){
                                margin-top:19px;
                                color: #000000;
                                font-weight: bold;
                                font-size: 16px;
                                line-height: 19px;

                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                    &:hover >.project-description p a:nth-child(2){
                        color: $pink-hover !important;
                        transition: color $normal-duration-2 $ease-out;
                    }
                    &:hover >.project-image img{
                        transform: scale(1.05);
                        transition: transform $normal-duration-2 $ease-out;
                    }
                    &:hover >.project-image .overlay{
                        opacity: 10%;
                        transition: opacity $normal-duration-2 $ease-out;
                    }
                    &:active >.project-description p a:nth-child(2){
                        color: $pink-pressed !important;
                        transition: color $normal-duration-2 $ease-out;
                    }
                    &:active >.project-image img{
                        transform: scale(1.07);
                        transition: transform $normal-duration-2 $ease-out;
                    }
                    &:active >.project-image .overlay{
                        opacity: 10%;
                        transition: opacity $normal-duration-2 $ease-out;
                    }
                }
            }
        }

    }
}