@charset "UTF-8";
/* Easing Curves */
/* Durations Desktop (multiply the values with 0.8 for mobile durations) */
/* Offsets Desktop (multiply the values with 0.8 for mobile offsets) */
/* colors */
.site-header {
  /*background-color: #D2277C;*/
  background-image: url("../../../../uploads/2021/08/header-bg.png");
  width: 100%;
  max-width: 100%;
  min-height: 350px;
  background-repeat: no-repeat;
  position: static;
  top: 0 !important;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
}

.site-header .site-navigation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.site-header .site-navigation-wrapper .site-logo img {
  width: 285px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 991px) {
  .site-header .site-navigation-wrapper .site-logo img {
    width: 140px;
  }
}

@media (max-width: 991px) {
  .site-header .site-navigation-wrapper {
    margin-top: 0;
    padding: 0;
  }
}

.site-header .site-navigation .navbar-right .burger-wrapper {
  cursor: pointer;
  margin: auto;
  position: relative;
  top: 35%;
}

.site-header .site-navigation .navbar-right .burger-wrapper .hamburger {
  width: 24px;
  height: 24px;
  position: relative;
}

.site-header .site-navigation .navbar-right .burger-wrapper .hamburger .bar {
  position: absolute;
  background: #F8F400;
  width: 24px;
  height: 2px;
  /*transition: background 1s 200ms ease;*/
}

.site-header .site-navigation .navbar-right .burger-wrapper .hamburger .bar:nth-child(1) {
  top: 6px;
  right: 0;
  width: 18px;
  -webkit-transition: top 0.2s ease 0.25s, transform 0.2s ease-out 0.1s, width 0.2s ease-in-out 0.1s;
  -webkit-transition: top 0.2s ease 0.25s, width 0.2s ease-in-out 0.1s, -webkit-transform 0.2s ease-out 0.1s;
  transition: top 0.2s ease 0.25s, width 0.2s ease-in-out 0.1s, -webkit-transform 0.2s ease-out 0.1s;
  transition: top 0.2s ease 0.25s, transform 0.2s ease-out 0.1s, width 0.2s ease-in-out 0.1s;
  transition: top 0.2s ease 0.25s, transform 0.2s ease-out 0.1s, width 0.2s ease-in-out 0.1s, -webkit-transform 0.2s ease-out 0.1s;
}

.site-header .site-navigation .navbar-right .burger-wrapper .hamburger .bar:nth-of-type(2) {
  top: 12px;
  right: 0;
  -webkit-transition: ease 0.1s;
  -webkit-transition: ease 0.1s 0.2s;
  transition: ease 0.1s 0.2s;
}

.site-header .site-navigation .navbar-right .burger-wrapper .hamburger .bar:nth-of-type(3) {
  top: 18px;
  right: 0;
  width: 18px;
  -webkit-transition: top 0.2s ease 0.25s, transform 0.2s ease-out 0.1s, width 0.2s ease-in-out 0.1s;
  -webkit-transition: top 0.2s ease 0.25s, width 0.2s ease-in-out 0.1s, -webkit-transform 0.2s ease-out 0.1s;
  transition: top 0.2s ease 0.25s, width 0.2s ease-in-out 0.1s, -webkit-transform 0.2s ease-out 0.1s;
  transition: top 0.2s ease 0.25s, transform 0.2s ease-out 0.1s, width 0.2s ease-in-out 0.1s;
  transition: top 0.2s ease 0.25s, transform 0.2s ease-out 0.1s, width 0.2s ease-in-out 0.1s, -webkit-transform 0.2s ease-out 0.1s;
}

@media (min-width: 992px) {
  .site-header .site-navigation .navbar-right .burger-wrapper {
    display: none;
  }
}

.site-header .site-navigation.show-main-menu {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all cubic-bezier(0.48, 0.04, 0.25, 1) 180ms;
  transition: all cubic-bezier(0.48, 0.04, 0.25, 1) 180ms;
}

@media (max-width: 991px) {
  .site-header .site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
}

.site-header .header-menu .wrap {
  margin-top: 15px;
}

.site-header .header-menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header .header-menu .menu-item {
  margin-left: 32px;
  position: relative;
}

.site-header .header-menu .menu-item a {
  font-weight: bold;
  font-family: 'Myriad-Pro-Bold';
  font-size: 20px;
  line-height: 24px;
  color: #F8F400;
  text-decoration: none;
  -webkit-transition: all 250ms cubic-bezier(0.16, 0.32, 0.21, 0.93);
  transition: all 250ms cubic-bezier(0.16, 0.32, 0.21, 0.93);
}

.site-header .header-menu .menu-item a:hover {
  color: #E8E400;
}

.site-header .header-menu .menu-item a:active {
  color: #D6D300;
}

.site-header .header-menu .menu-item a:focus {
  outline: 0;
}

.site-header .header-menu .menu-item a:focus:before {
  content: '';
  color: #DDDDDD;
  border: 1px solid;
  width: 107%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -3px;
  right: 0;
  padding: 6px 8px;
  border-radius: 4px;
}

.site-header .header-menu .menu-item:before {
  -webkit-transition: all 250ms cubic-bezier(0.16, 0.32, 0.21, 0.93);
  transition: all 250ms cubic-bezier(0.16, 0.32, 0.21, 0.93);
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  margin: auto;
  pointer-events: none;
  background: 0 0;
}

.site-header .header-menu .menu-item:after {
  content: '';
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.16, 0.32, 0.21, 0.93);
  transition: -webkit-transform 250ms cubic-bezier(0.16, 0.32, 0.21, 0.93);
  transition: transform 250ms cubic-bezier(0.16, 0.32, 0.21, 0.93);
  transition: transform 250ms cubic-bezier(0.16, 0.32, 0.21, 0.93), -webkit-transform 250ms cubic-bezier(0.16, 0.32, 0.21, 0.93);
  background-color: #E8E400;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right center;
          transform-origin: right center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  margin: auto;
  pointer-events: none;
}

.site-header .header-menu .menu-item:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.site-header .header-menu .menu-item:active:after {
  background-color: #D6D300;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.site-header .header-menu .menu-item:focus:after {
  display: none;
}

.site-header .header-menu .menu-item:last-child {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 13px 2px 11px;
  position: relative;
  right: 0%;
  top: 0%;
  bottom: 0%;
  border-radius: 60px;
  border: 1px solid #D2277C;
}

.site-header .header-menu .menu-item:last-child a {
  color: #D2277C;
  padding: 14px 27px;
  position: relative;
  background: #F8F400;
  border-radius: 60px;
}

.site-header .header-menu .menu-item:last-child a:after {
  content: '\f004';
  color: #D2277C;
  font-family: 'FontAwesome';
  font-size: 16px;
  margin-left: 10px;
}

.site-header .header-menu .menu-item:last-child a:hover {
  background: #E8E400;
}

.site-header .header-menu .menu-item:last-child a:active {
  background: #D6D300;
}

.site-header .header-menu .menu-item:last-child a:focus {
  outline: 0;
  border: 0;
}

.site-header .header-menu .menu-item:last-child a:focus:before {
  content: '';
  color: #DDDDDD;
  border: 1px solid;
  width: calc(100% + 6px);
  height: 54px;
  position: absolute;
  top: -3px;
  left: -3px;
  right: 0;
  padding: 6px 8px;
  border-radius: 60px;
}

.site-header .header-menu .menu-item:last-child:hover:after {
  display: none;
}

.site-header .header-menu .menu-item:last-child:active:after {
  display: none;
}

.site-header .header-menu .menu-item:last-child:focus {
  border-color: #DDDDDD;
  padding: 13px 2px 11px;
  -webkit-transition: none;
  transition: none;
}

.site-header .hamburger-menu {
  display: none;
}

@media (max-width: 991px) {
  .site-header .hamburger-menu {
    display: block;
  }
  .site-header .hamburger-menu .mobile-menu {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    padding: 25px 30px;
    display: inline-block;
    width: 100%;
    height: 100vh;
    visibility: hidden;
  }
  .site-header .hamburger-menu .mobile-menu .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0px;
    background: white;
    padding: 0 32px;
    transition: all 450ms cubic-bezier(0.48, 0.04, 0.25, 1);
    -webkit-transition: all 450ms cubic-bezier(0.48, 0.04, 0.25, 1);
    display: inline-block;
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .site-header .hamburger-menu .mobile-menu .site-logo img {
    position: relative;
    width: 140px;
    height: auto;
  }
  .site-header .hamburger-menu .mobile-menu .header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    transition: all 450ms cubic-bezier(0.48, 0.04, 0.25, 1);
    -webkit-transition: all 450ms cubic-bezier(0.48, 0.04, 0.25, 1);
  }
  .site-header .hamburger-menu .mobile-menu .header-wrapper.show-hamburger-menu {
    opacity: 1;
    visibility: visible;
    transition: all 200ms 100ms cubic-bezier(0.48, 0.04, 0.25, 1);
    -webkit-transition: all 200ms 100ms cubic-bezier(0.48, 0.04, 0.25, 1);
  }
  .site-header .hamburger-menu .mobile-menu .header-wrapper .hamburger {
    width: 28px;
    height: 28px;
    position: relative;
    cursor: pointer;
  }
  .site-header .hamburger-menu .mobile-menu .header-wrapper .hamburger .bar {
    position: absolute;
    background: #D2277C;
    width: 28px;
    height: 2px;
  }
  .site-header .hamburger-menu .mobile-menu .header-wrapper .hamburger .bar:nth-child(1) {
    top: 12px;
    right: 0;
    width: 24px;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  .site-header .hamburger-menu .mobile-menu .header-wrapper .hamburger .bar:nth-of-type(2) {
    display: none;
  }
  .site-header .hamburger-menu .mobile-menu .header-wrapper .hamburger .bar:nth-of-type(3) {
    top: 12px;
    right: 0;
    width: 24px;
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
  }
  .site-header .hamburger-menu .mobile-menu .menu {
    margin-top: 125px;
    visibility: hidden;
  }
  .site-header .hamburger-menu .mobile-menu .menu-item {
    display: block;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    opacity: 0;
    transition: all 320ms cubic-bezier(0.48, 0.04, 0.25, 1);
    -webkit-transition: all 320ms cubic-bezier(0.48, 0.04, 0.25, 1);
    margin-bottom: 27px;
  }
  .site-header .hamburger-menu .mobile-menu .menu-item a {
    font-size: 32px;
    line-height: 40px;
    color: #D2277C;
    text-decoration: none;
  }
  .site-header .hamburger-menu .mobile-menu.open {
    visibility: visible;
  }
  .site-header .hamburger-menu .mobile-menu.open .overlay {
    height: 100%;
  }
  .site-header .hamburger-menu .mobile-menu.open .menu {
    margin-top: 125px;
    visibility: visible;
  }
  .site-header .hamburger-menu .mobile-menu.open .menu-item {
    display: block;
  }
  .site-header .hamburger-menu .mobile-menu.open .menu-item a {
    font-size: 32px;
    line-height: 40px;
    color: #D2277C;
    text-decoration: none;
  }
  .site-header .hamburger-menu .mobile-menu.open .menu-item a:focus {
    outline: 0;
  }
  .site-header .hamburger-menu .mobile-menu.open .menu-item:first-child {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition: all 200ms 100ms cubic-bezier(0.48, 0.04, 0.25, 1);
    -webkit-transition: all 200ms 100ms cubic-bezier(0.48, 0.04, 0.25, 1);
  }
  .site-header .hamburger-menu .mobile-menu.open .menu-item:nth-child(2) {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition: all 240ms 100ms cubic-bezier(0.48, 0.04, 0.25, 1);
    -webkit-transition: all 240ms 100ms cubic-bezier(0.48, 0.04, 0.25, 1);
  }
  .site-header .hamburger-menu .mobile-menu.open .menu-item:nth-child(3) {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition: all 280ms 100ms cubic-bezier(0.48, 0.04, 0.25, 1);
    -webkit-transition: all 280ms 100ms cubic-bezier(0.48, 0.04, 0.25, 1);
  }
}

@media (max-width: 991px) {
  .site-header {
    min-height: 200px;
    padding: 0 30px;
  }
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.process-block {
  overflow: hidden;
}

.process-block .marquee3k {
  background: #F6F100;
  -webkit-transform: translate(-20px, 0) rotate(-5deg);
          transform: translate(-20px, 0) rotate(-5deg);
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 14px 0 0;
  position: relative;
  width: 110%;
}

.process-block .marquee3k .marquee3k__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.process-block .marquee3k .marquee3k__wrapper .marquee3k-wrapper.marquee3k__copy {
  display: inline-block;
  white-space: nowrap;
  -webkit-animation: marquee 10s linear infinite;
          animation: marquee 10s linear infinite;
}

.process-block .marquee3k .marquee3k__wrapper .marquee3k-wrapper.marquee3k__copy .marquee-text {
  font-family: 'Myriad-Pro-Bold';
  font-weight: bold;
  font-size: 80px;
  line-height: 96px;
  text-transform: uppercase;
  color: #D2277C;
}

@media (max-width: 991px) {
  .process-block .marquee3k .marquee3k__wrapper .marquee3k-wrapper.marquee3k__copy .marquee-text {
    font-size: 24px;
    line-height: 29px;
  }
}

@media (max-width: 991px) {
  .process-block .marquee3k {
    margin-bottom: 40px;
    padding: 14px 0 6px;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #FFF;
}

@font-face {
  font-family: 'Myriad-Pro-Regular';
  src: url("../fonts/Myriad-Pro-Regular.eot");
  src: local("☺"), url("../fonts/Myriad-Pro-Regular.woff") format("woff"), url("../fonts/Myriad-Pro-Regular.ttf") format("truetype"), url("../fonts/Myriad-Pro-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad-Pro-Bold';
  src: url("../fonts/Myriad-Pro-Bold.eot");
  src: local("☺"), url("../fonts/Myriad-Pro-Bold.woff") format("woff"), url("../fonts/Myriad-Pro-Bold.ttf") format("truetype"), url("../fonts/Myriad-Pro-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.d-md {
  display: block;
}

@media (max-width: 991px) {
  .d-md {
    display: none;
  }
}

.d-sm {
  display: block;
}

@media (min-width: 992px) {
  .d-sm {
    display: none;
  }
}

.position-relative {
  position: relative;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 1340px;
  }
}

.w-960 {
  max-width: 960px;
}

@media (max-width: 991px) {
  .w-960 {
    max-width: 100%;
  }
}

.head-block {
  margin-top: 60px;
}

.hidden {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

.section-title {
  font-size: 60px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 8px;
}

@media (max-width: 991px) {
  .section-title {
    font-size: 32px;
    line-height: 40px;
  }
}

.underline {
  position: relative;
}

.underline:after {
  content: '';
  background-image: url("../../../../uploads/2021/07/underline.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 263px;
  height: 12px;
  position: absolute;
  right: -30px;
  bottom: -3px;
}

@media (max-width: 991px) {
  .underline:after {
    background-size: contain;
    background-repeat: no-repeat;
    width: 94%;
    height: 12px;
    position: absolute;
    right: -8px;
    bottom: -8px;
  }
}

.section-subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

@media (max-width: 991px) {
  .section-subtitle {
    font-size: 16px;
    line-height: 26px;
  }
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Myriad-Pro-Regular';
}

.form-block {
  margin-top: 78px;
  margin-bottom: 150px;
}

.form-block--text {
  margin-bottom: 32px;
  position: relative;
}

.form-block--text label {
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 4px;
}

.form-block--text label.error {
  position: absolute;
  right: 0;
  top: 8px;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: #CD1619;
}

.form-block--text label.upload {
  margin-bottom: 10px;
  display: block;
}

@media (max-width: 991px) {
  .form-block--text label {
    font-size: 16px;
    line-height: 26px;
  }
}

.form-block--text input {
  background: #FFFFFF;
  border: 2px solid #DDDDDD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  min-height: 100px;
}

.form-block--text input.dashed {
  border: 2px dashed #DDDDDD;
  min-height: 120px;
}

.form-block--text input.error {
  border-color: #CD1619;
}

@media (max-width: 991px) {
  .form-block--text input {
    min-height: 84px;
  }
}

.form-block--text textarea {
  background: #FFFFFF;
  border: 2px solid #DDDDDD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
}

.form-block--text textarea.error {
  border-color: #CD1619;
}

.form-block--text .note {
  font-size: 20px;
  line-height: 26px;
  color: #919191;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 11px 0px;
}

@media (max-width: 991px) {
  .form-block--text .note {
    font-size: 14px;
    line-height: 17px;
  }
}

.form-block .info {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 20px 10px 0 0;
}

.form-block .required-feilds {
  margin-top: 80px;
  margin-bottom: 80px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.form-block .checkbox {
  position: relative;
  margin-top: 80px;
}

.form-block .checkbox label {
  position: relative;
  cursor: pointer;
  -webkit-transition: all ease-out 250ms;
  transition: all ease-out 250ms;
  outline: 0;
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 17px;
  color: black;
  position: relative;
  padding-left: 40px;
  margin: 23px 0;
}

.form-block .checkbox label.error {
  position: absolute;
  top: -24px;
  left: 0;
  font-size: 14px;
  line-height: 26px;
  color: #CD1619;
}

.form-block .checkbox label:before {
  content: '';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #DDDDDD;
  border-radius: 8px;
  padding: 13px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 8px;
  position: absolute;
  left: 0;
}

.form-block .checkbox label:hover:before {
  border-color: #B5226B;
}

.form-block .checkbox label:active:before {
  border-color: #8C1A53;
}

.form-block .checkbox input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-block .checkbox input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 8px;
  left: 12px;
  width: 6px;
  height: 14px;
  border: solid #FFFFFF;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.form-block .checkbox input:checked + label:before {
  background-color: #D2277C;
  border: 2px solid #D2277C;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
}

.form-block .checkbox input:hover:checked + label:before {
  background: #B5226B;
  border-color: #B5226B;
}

.form-block .checkbox input:active:checked + label:before {
  background: #8C1A53;
  border-color: #8C1A53;
}

@media (max-width: 991px) {
  .button-group {
    text-align: center;
  }
}

.button-pink {
  padding: 17px 27px !important;
  background-color: #D2277C !important;
  border-radius: 60px !important;
  font-weight: bold !important;
  font-size: 20px !important;
  line-height: 17px !important;
}

@media (max-width: 991px) {
  .button-pink {
    font-size: 16px !important;
    line-height: 19px !important;
  }
}

.footer-widgets {
  padding: 36px 0;
  border-top: 0;
}

@media (max-width: 991px) {
  .footer-widgets {
    padding: 40px 0;
  }
}

.footer-sidebar {
  width: 100%;
  text-align: center;
}

.footer-sidebar.footer-1 {
  text-align: left;
}

@media (max-width: 991px) {
  .footer-sidebar.footer-1 {
    text-align: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.footer-sidebar.footer-2 {
  text-align: right;
}

@media (max-width: 991px) {
  .footer-sidebar.footer-2 {
    text-align: center;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.footer-sidebar.footer-3 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.footer-wrapper {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-wrapper .widget-wrap h2 {
  font-family: 'Myriad-Pro-Bold';
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  color: #008D36;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .footer-wrapper .widget-wrap h2 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 36px;
  }
}

.footer-wrapper .widget-wrap .menu {
  margin-bottom: 26px;
}

.footer-wrapper .widget-wrap .menu-item {
  border-top: 1px solid #E6E6E6;
  margin-bottom: 0;
  padding: 17px 0 14px;
  line-height: 0;
  position: relative;
}

.footer-wrapper .widget-wrap .menu-item a {
  font-weight: normal;
  font-family: 'Myriad-Pro-Regular';
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.footer-wrapper .widget-wrap .menu-item:last-child {
  border-bottom: 1px solid #E6E6E6;
}

.footer-wrapper .widget-wrap .wp-block-image {
  margin-bottom: 0;
}

.footer-wrapper .widget-wrap .wp-block-image img {
  width: 285px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 991px) {
  .footer-wrapper .widget-wrap .wp-block-image img {
    width: 220px;
  }
}

@media (max-width: 991px) {
  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}

.footer-text-section {
  background: #008D36;
}

.footer-text-section .widget_nav_menu {
  margin-bottom: 0;
}

.footer-text-section .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 31px 0px 26px;
  font-family: 'Myriad-Pro-Regular';
}

.footer-text-section .menu-item {
  margin: 0px 24px 0 0;
  line-height: 0;
  position: relative;
}

.footer-text-section .menu-item a {
  font-weight: normal;
  font-family: 'Myriad-Pro-Regular';
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  text-decoration: none;
}

.footer-text-section .menu-item:before {
  -webkit-transition: all 250ms cubic-bezier(0.16, 0.32, 0.21, 0.93);
  transition: all 250ms cubic-bezier(0.16, 0.32, 0.21, 0.93);
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  margin: auto;
  pointer-events: none;
  background: 0 0;
}

.footer-text-section .menu-item:after {
  content: '';
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.16, 0.32, 0.21, 0.93);
  transition: -webkit-transform 250ms cubic-bezier(0.16, 0.32, 0.21, 0.93);
  transition: transform 250ms cubic-bezier(0.16, 0.32, 0.21, 0.93);
  transition: transform 250ms cubic-bezier(0.16, 0.32, 0.21, 0.93), -webkit-transform 250ms cubic-bezier(0.16, 0.32, 0.21, 0.93);
  background-color: #FFFFFF;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right center;
          transform-origin: right center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  margin: auto;
  pointer-events: none;
}

.footer-text-section .menu-item:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.single-post {
  background-color: #F8F8F8 !important;
}

.single-post header {
  background-color: #F8F8F8 !important;
  background-image: url("../../../../uploads/2021/08/single-page-header-bg.png");
  min-height: 708px;
}

.single-post .footer-widgets {
  background-color: #F8F8F8 !important;
}

i {
  font-family: 'FontAwesome' !important;
  font-style: normal !important;
  font-size: 16px;
}

.project-votes {
  background-color: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 12px 16px;
  border-radius: 60px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.08em;
  font-family: 'Myriad-Pro-Bold';
  cursor: pointer;
}

.project-votes:hover .heart {
  color: #B5226B;
  -webkit-transition: color 450ms cubic-bezier(0.16, 0.32, 0.21, 0.93);
  transition: color 450ms cubic-bezier(0.16, 0.32, 0.21, 0.93);
}

.project-votes:active .heart {
  color: #8C1A53;
  -webkit-transition: color 450ms cubic-bezier(0.16, 0.32, 0.21, 0.93);
  transition: color 450ms cubic-bezier(0.16, 0.32, 0.21, 0.93);
}

.project-votes .heart {
  color: #D2277C;
  margin-left: 2px;
}

.tooltip:before {
  content: attr(data-content);
  display: block;
  background-color: #D2277C;
  border-radius: 3px;
  padding: 10px;
  color: white;
  font-size: 12px;
  font-size: 14px;
  line-height: 17px;
  font-family: 'Myriad-Pro-Regular';
  letter-spacing: normal;
}

.tooltip:after {
  content: '';
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #D2277C;
  width: 0;
  height: 0;
  display: block;
  margin-top: 36.5px;
  margin-left: 35px;
}

.tooltip:before,
.tooltip:after {
  top: -50px;
  left: -10px;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}

.project-votes:hover.tooltip:before,
.project-votes:hover.tooltip:after {
  opacity: 1;
}

.custom_single_post_page {
  font-family: 'Myriad-Pro-Regular';
  background-color: #F8F8F8;
}

.custom_single_post_page .container .project-details {
  background-color: white;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(-500px);
          transform: translateY(-500px);
}

@media only screen and (max-width: 768px) {
  .custom_single_post_page .container .project-details {
    padding: 33px 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateY(-580px);
            transform: translateY(-580px);
  }
}

.custom_single_post_page .container .project-details .post-content-left {
  width: 70%;
  border-right: 1px solid #CCCCCC;
  padding-right: 100px;
}

@media only screen and (max-width: 768px) {
  .custom_single_post_page .container .project-details .post-content-left {
    padding-right: 0px;
    width: 100%;
    border: none;
  }
}

.custom_single_post_page .container .project-details .post-content-left .project-votes {
  border: 1px solid #000000;
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .custom_single_post_page .container .project-details .post-content-left .project-votes {
    display: none;
  }
}

.custom_single_post_page .container .project-details .post-content-left .post-title {
  font-size: 60px;
  line-height: 70px;
}

.custom_single_post_page .container .project-details .post-content-left .post-author {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.6;
}

.custom_single_post_page .container .project-details .post-content-left .post-content {
  margin-top: 32px;
}

.custom_single_post_page .container .project-details .post-content-right {
  width: 30%;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .custom_single_post_page .container .project-details .post-content-right {
    width: 100%;
  }
}

.custom_single_post_page .container .project-details .post-content-right .votes {
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 120px;
}

@media only screen and (max-width: 768px) {
  .custom_single_post_page .container .project-details .post-content-right .votes {
    display: none;
  }
}

.custom_single_post_page .container .project-details .post-content-right .votes-subtext {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  .custom_single_post_page .container .project-details .post-content-right .votes-subtext {
    display: none;
  }
}

.custom_single_post_page .container .project-details .post-content-right .custom-button {
  background: #D2277C;
  border-radius: 60px;
  margin-top: 35.61px;
}

.custom_single_post_page .container .project-details .post-content-right .custom-button::after {
  content: '\f004';
  color: white;
  font-family: 'FontAwesome';
  font-size: 16px;
  margin-left: 10px;
}

.custom_single_post_page .container .projects {
  margin-top: -400px;
  padding-bottom: 56px;
}

@media only screen and (max-width: 768px) {
  .custom_single_post_page .container .projects {
    margin-top: -520px;
    padding-bottom: 30px;
  }
}

.custom_single_post_page .container .projects .project-list {
  margin-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .custom_single_post_page .container .projects .project-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 64px;
  }
}

.custom_single_post_page .container .projects .project-list .project-item {
  width: 412px;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .custom_single_post_page .container .projects .project-list .project-item {
    width: 100%;
    margin-bottom: 30px;
  }
}

.custom_single_post_page .container .projects .project-list .project-item .project-image {
  overflow: hidden;
}

.custom_single_post_page .container .projects .project-list .project-item .project-image img {
  width: auto;
  height: 254px;
}

.custom_single_post_page .container .projects .project-list .project-item .project-image .overlay {
  height: 254px;
  width: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  opacity: 0%;
}

.custom_single_post_page .container .projects .project-list .project-item .project-title {
  margin-top: 24px;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  text-decoration: none !important;
  color: #000000;
}

.custom_single_post_page .container .projects .project-list .project-item .project-title a {
  text-decoration: none !important;
  color: #000000;
}

.custom_single_post_page .container .projects .project-list .project-item .project-votes {
  position: absolute;
  top: 19px;
  right: 20px;
}

.custom_single_post_page .container .projects .project-list .project-item .project-description a:nth-child(1) {
  text-decoration: none;
  color: black !important;
}

.custom_single_post_page .container .projects .project-list .project-item .project-description a:nth-child(1):hover {
  text-decoration: none;
  color: black !important;
}

.custom_single_post_page .container .projects .project-list .project-item .project-description p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.custom_single_post_page .container .projects .project-list .project-item .project-description p a:nth-child(1) {
  text-decoration: none;
  color: black !important;
}

.custom_single_post_page .container .projects .project-list .project-item .project-description p a:nth-child(1):hover {
  text-decoration: none;
  color: black !important;
}

.custom_single_post_page .container .projects .project-list .project-item .project-description p a:nth-child(2) {
  margin-top: 19px;
  color: #000000;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.custom_single_post_page .container .projects .project-list .project-item .project-description p a:nth-child(2):hover {
  text-decoration: underline;
}

.custom_single_post_page .container .projects .project-list .project-item:hover > .project-description p a:nth-child(2) {
  color: #B5226B !important;
  -webkit-transition: color 450ms cubic-bezier(0.16, 0.32, 0.21, 0.93);
  transition: color 450ms cubic-bezier(0.16, 0.32, 0.21, 0.93);
}

.custom_single_post_page .container .projects .project-list .project-item:hover > .project-image img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform 450ms cubic-bezier(0.16, 0.32, 0.21, 0.93);
  transition: -webkit-transform 450ms cubic-bezier(0.16, 0.32, 0.21, 0.93);
  transition: transform 450ms cubic-bezier(0.16, 0.32, 0.21, 0.93);
  transition: transform 450ms cubic-bezier(0.16, 0.32, 0.21, 0.93), -webkit-transform 450ms cubic-bezier(0.16, 0.32, 0.21, 0.93);
}

.custom_single_post_page .container .projects .project-list .project-item:hover > .project-image .overlay {
  opacity: 10%;
  -webkit-transition: opacity 450ms cubic-bezier(0.16, 0.32, 0.21, 0.93);
  transition: opacity 450ms cubic-bezier(0.16, 0.32, 0.21, 0.93);
}

.custom_single_post_page .container .projects .project-list .project-item:active > .project-description p a:nth-child(2) {
  color: #8C1A53 !important;
  -webkit-transition: color 450ms cubic-bezier(0.16, 0.32, 0.21, 0.93);
  transition: color 450ms cubic-bezier(0.16, 0.32, 0.21, 0.93);
}

.custom_single_post_page .container .projects .project-list .project-item:active > .project-image img {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-transition: -webkit-transform 450ms cubic-bezier(0.16, 0.32, 0.21, 0.93);
  transition: -webkit-transform 450ms cubic-bezier(0.16, 0.32, 0.21, 0.93);
  transition: transform 450ms cubic-bezier(0.16, 0.32, 0.21, 0.93);
  transition: transform 450ms cubic-bezier(0.16, 0.32, 0.21, 0.93), -webkit-transform 450ms cubic-bezier(0.16, 0.32, 0.21, 0.93);
}

.custom_single_post_page .container .projects .project-list .project-item:active > .project-image .overlay {
  opacity: 10%;
  -webkit-transition: opacity 450ms cubic-bezier(0.16, 0.32, 0.21, 0.93);
  transition: opacity 450ms cubic-bezier(0.16, 0.32, 0.21, 0.93);
}
/*# sourceMappingURL=theme-style.css.map */